<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快递单号</title>
    <style>
        body {
            font-size: 1em;
            color: #333333;
        }

        .row1 {
            margin-top: 5cm;
        }
    </style>
</head>
<body>
<div class="row1">
    <span class="senderName">章三</span>
    <span class="senderPhone">15757125055</span>
    <span class="senderPCD">浙江省杭州市西湖区</span>
    <span class="senderAddress">益乐新村北五区十九号</span>
    <span class="receiverName">李四</span>
    <span class="receiverPHone">15757125060</span>
    <span class="receiverPCD">浙江省杭州市西湖区</span>
    <span class="receiverAddress">益乐新村北五区十九号</span>
</div>
</body>
</html>
