<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 对包中的所有类进行扫描类上的注解，以完成Bean创建和自动依赖注入的功能 需要更改 -->
    <context:component-scan base-package="com.dagemen.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <!-- 激活@Controller模式，自动注册DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <constructor-arg>
                    <bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
                        <!-- 处理responseBody里面日期类型 -->
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>
                                <property name="timeZone">
                                    <bean class="java.util.TimeZone" factory-method="getTimeZone">
                                        <constructor-arg value="GMT+08"/>
                                    </bean>
                                </property>
                            </bean>
                        </property>
                        <property name="objectMapper">
                            <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                                <property name="timeZone">
                                    <bean class="java.util.TimeZone" factory-method="getTimeZone">
                                        <constructor-arg value="GMT+08"/>
                                    </bean>
                                </property>
                            </bean>
                        </property>
                        <!-- 字段为null时不显示 -->
                        <!--<property name="serializationInclusion">-->
                        <!--<value>NON_NULL</value>-->
                        <!--</property>-->
                        <property name="featuresToDisable">
                            <bean class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
                                <!-- Map中值为null的键值对不显示 -->
                                <property name="staticField"
                                          value="com.fasterxml.jackson.databind.SerializationFeature.WRITE_NULL_MAP_VALUES"/>
                            </bean>
                        </property>
                    </bean>
                </constructor-arg>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


    <!-- ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".html"/>
    </bean>

    <!-- 支持上传文件 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="10000000"/>
    </bean>


    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter4">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/html;charset=UTF-8</value>
                            <value>application/json;charset=UTF-8</value>
                        </list>
                    </property>
                    <property name="fastJsonConfig">
                        <bean class="com.alibaba.fastjson.support.config.FastJsonConfig">
                            <property name="features">
                                <list>
                                    <value>AllowArbitraryCommas</value>
                                    <value>AllowUnQuotedFieldNames</value>
                                    <value>DisableCircularReferenceDetect</value>
                                </list>
                            </property>
                            <property name="dateFormat" value="yyyy-MM-dd HH:mm:ss"/>
                        </bean>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <!--用户登陆检查-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<bean class="com.dagemen.authorization.AuthorizeInterceptor"/>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->
    <!--异常处理-->
    <bean id="unionAllExceptionHandler" class="com.dagemen.exception.UnionAllExceptionHandler"/>
    <bean id="exceptionResolver" class="com.dagemen.exception.HandlerMappingExceptionResolver">
        <!-- 全局异常：在exceptionMappings里面找不到对应的异常时，采用 unionAllExceptionHandler 处理 -->
        <property name="defaultErrorView" value="handler:unionAllExceptionHandler"/>
        <property name="defaultStatusCode" value="500"/>
    </bean>


</beans>
